* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1a1a1a;
}

#canvas {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 40px;
}
.canvas {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
button {
  width: 10%;
  height: 5%;
  background-color: #fff;
  border-radius: 10px;
}
button:hover {
  background-color: #1a1a1a;
  color: #fff;
}
button:active {
  background-color: #fff;
  color: #1a1a1a;
}
button:focus {
  outline: none;
  background-color: aquamarine;
}

